
    <main>
        <nav>
        <!--Beginning Main Nav -->
        <div class="nav-wrapper grey lighten-4">
            <div class="container">
                <a href="#!" class="brand-logo">
                    <img id="ttfmLogo" src="/assets/img/ttfm-logo-clr.svg" alt="TestThisForMe Logo" width="50">
                    <span id="navTitle">TestThisFor.Me</span>
                </a>
                <ul class="right hide-on-med-and-down indigo-text text-darken-4">
                    <li>
                        <a href="/projects/">All Projects</a>
                    </li>
                    <li>
                        <a href="#" id="myProjectsButton">My Projects</a>
                    </li>
                    <li>
                        <a href="#" data-target="slide-out" class="sidenav-trigger profile">My Profile</a>
                    </li>
                    {{!-- <li>
                        <a href="#">Login/Sign Up</a>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>

        <!--End Main Nav -->

        <!--Profle Side Nav -->
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/assets/img/profile-bg.jpg">
                    </div>
                    <a href="#avatar">
                        {{#if avatarUrl}}
                        <img class="circle" src="{{ avatarUrl }}"> {{/if}} {{#unless avatarUrl}}
                        <i class="material-icons circle">person</i>
                        {{/unless}}
                    </a>
                    <a href="#alias">
                        <span class="white-text name">{{ githubAlias }}</span>
                    </a>
                    <a href="#name">
                        <span class="white-text name">{{ githubName }}</span>
                    </a>
                    <a href="#email">
                        <span class="white-text email">{{ email }}</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="#!">
                    <i class="material-icons">card_membership</i>Joined May 2018
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="#!">Credits
                    <span class="badge light-green-text" data-badge-caption="">{{ points }}</span>
                </a>
            </li>
            <li>
                <a href="#!">Badges
                    <span class="new badge" data-badge-caption="Total">{{ badges.length }}</span>
                </a>
            </li>
            <li>
                <a href="#!">Messages
                    <span class="badge red-text" data-badge-caption="Unread">4</span>
                </a>
            </li>

        </ul>
        <!--End Profle Side Nav -->

        <!-- My Project Dashboard -->
        <div class="dash container">
            <h4>My Projects</h4>
            <ul class=" right tabs tabs-fixed-width">
                <li class="tab">
                    <a class="active" href="#current">Current</a>
                </li>
                <li class="tab">
                    <a href="#closed">Closed</a>
                </li>
            </ul>
            <div id="current" class="col s12">
                <ul class="collection">
                    {{#each Projects}} {{#if this.dataValues.title}} {{#unless this.dataValues.closed }}
                    <li class="collection-item avatar">
                        <a href="/projects/{{this.dataValues.id}}">
                            {{#if this.dataValues.avatarUrl}}
                            <img class="circle" src="{{ this.dataValues.avatarUrl }}"> 
                            {{/if}} 
                            {{#unless this.dataValues.avatarUrl}}
                            <i class="material-icons circle">person</i>
                            {{/unless}}
                            <h5>{{ this.dataValues.title }}</h5>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons light-green-text accent-3">arrow_forward</i>
                            </a>
                        </a>
                    </li>
                    {{/unless}}{{/if}} {{/each}} 
                    {{#if Projects.[0].dataValues.title}}
                    <div style="text-align:center; margin-top:50px">
                        <a style="margin-top:25px" class="btn-large" href="/projects/post/{{ id }}">Post a Project</a>
                    </div>
                    {{/if}}
                    {{#unless Projects.[0].dataValues.title}}
                    <div style="text-align:center; margin-top:50px">
                        <div>Looks like you haven't posted any projects yet!</div>
                        <a style="margin-top:25px" class="btn-large" href="/projects/post/{{ id }}">Let's Fix That</a>
                    </div>
                    {{/unless}}
                </ul>
                {{!--
                <div class="row summary">
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">visibility</i>
                        <br/>## VIEWS
                    </div>
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">check</i>
                        <br/>## CHECKS
                    </div>
                    <div id="question" class="col m8">
                        <h5>Name of Query/Problem Title Goes Here</h5>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row summary">
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">visibility</i>
                        <br/>## VIEWS
                    </div>
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">check</i>
                        <br/>## CHECKS
                    </div>
                    <div id="question" class="col m8">
                        <h5>Name of Query/Problem Title Goes Here</h5>
                    </div>
                </div>
                <div class="divider"></div> --}}


            </div>
            <div id="closed" class="col s12">
                <ul class="collection">
                    {{#each Projects}} {{#if this.dataValues.title}} {{#if this.dataValues.closed }}
                    <li class="collection-item avatar">
                        <a href="/projects/{{this.dataValues.id}}">
                            <i class="material-icons circle">person</i>
                            <h5>{{ this.dataValues.title }}</h5>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons light-green-text accent-3">arrow_forward</i>
                            </a>
                        </a>
                    </li>
                    {{/if}} {{/if}} {{/each}}
                </ul>
                {{!--
                <div class="row summary">
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">visibility</i>
                        <br/>## VIEWS
                    </div>
                    <div id="checks" class="col m2 center-align">
                        <i class="small material-icons">check</i>
                        <br/>## CHECKS
                    </div>
                    <div id="question" class="col m8">
                        <h5>Name of Query/Problem Title Goes Here</h5>
                    </div>
                </div> --}}
                <div class="divider"></div>
            </div>
        </div>
    </main>
    <!--End of Footer -->
    <footer class="page-footer black main">
        <div class="footer-copyright">
            <div class="container">
                ©2018 Copyright TestThisFor.Me, All rights reserved. Tyler Jenkins, Allan Jones, and Grace Ho
                <a class="grey-text text-lighten-4 right" href="https://github.com/TyPhyter/TestThisFor.Me" target="_blank">View Code</a>
            </div>
        </div>
    </footer>

    <script>
        sessionStorage.setItem('ttfmid', parseInt(window.location.pathname.split('/')[2]));
    </script>
