
    <main>
        <nav>
            <!--Beginning Main Nav -->
            <div class="nav-wrapper grey lighten-4">
                <div class="container">
                    <a href="#!" class="brand-logo">
                        <img id="ttfmLogo" src="/assets/img/ttfm-logo-clr.svg" alt="TestThisForMe Logo" width="50">
                        <span class="hide-on-med-and-down" id="navTitle">TestThisFor.Me</span>
                    </a>
                    <ul class="right hide-on-med-and-down indigo-text text-darken-4">
                        <li>
                            <a href="/projects/">All Projects</a>
                        </li>
                        <li>
                            <a href="#" id="myProjectsButton">My Projects</a>
                        </li>
                        {{!-- <li>
                            <a href="#" data-target="slide-out" class="sidenav-trigger profile">My Profile</a>
                        </li> --}}
                        {{!-- <li>
                            <a href="#">Login/Sign Up</a>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <!--Mobile Main Nav -->
            <li>
                <a href="#">Available Projects</a>
            </li>
            <li>
                <a href="#">My Projects</a>
            </li>
            <li>
                <a href="#">My Profile</a>
            </li>
            <li>
                <a href="#">Login/Sign Up</a>
            </li>
        </ul>
        <!--End Main Nav -->

        <!-- My Project Dashboard -->
        <div class="dash container">
            <div id="projId" style="display:none;">{{ id }}</div>
            {{#if authorAvatarUrl}}
            <img style="width:250px" class="circle" src="{{ authorAvatarUrl }}"> 
            {{/if}} 
            {{#unless authorAvatarUrl}}
            <i class="material-icons circle">person</i>
            {{/unless}}
            <h4 class="avail">{{ title }}</h4>
            <p>{{ repoUrl }}</p>
            <p>{{ hostedUrl }}</p>
            <p>{{ body }}</p>

            {{!-- <p>Lorem ipsum dolor amet coloring book synth hella literally brooklyn enamel pin af meditation palo santo readymade
                kickstarter celiac snackwave. Chartreuse stumptown +1 kale chips iPhone. Ennui lyft health goth organic fixie
                vegan. Glossier cardigan actually pinterest beard.</p>
            <p>Hammock forage scenester crucifix try-hard drinking vinegar chillwave taiyaki. Hammock fanny pack raclette meh
                woke +1. Biodiesel ethical post-ironic four loko. Slow-carb trust fund dreamcatcher four dollar toast, skateboard
                marfa tumeric.</p>
            <pre>
                var names = ["Mike","Matt","Nancy","Adam","Jenny","Nancy","Carl"]; 
            </pre> --}}

            <div class="center-align">
                <button id="testThisBtn" class="btn btn-large">Test This</button>
            </div>

            <div class="divider"></div>
            <h5>Comments</h5>
            <div class="comment-entry row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Post Your Solution</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </main>
    <!--End of Footer -->
    <footer class="page-footer black main">
        <div class="footer-copyright">
            <div class="container">
                ©2018 Copyright TestThisFor.Me, All rights reserved. Tyler Jenkins, Allan Jones, and Grace Ho
                <a class="grey-text text-lighten-4 right" href="https://github.com/TyPhyter/TestThisFor.Me" target="_blank">View Code</a>
            </div>
        </div>
    </footer>

    <script>

        var testThisBtn = document.querySelector('#testThisBtn');
        testThisBtn.addEventListener('click', function (evt) {
            evt.preventDefault();

            var projId = document.querySelector('#projId').textContent;
            var projTitle = document.querySelector('h4.avail').textContent;
            sessionStorage.setItem('ttfmcurrentProjId', projId);
            sessionStorage.setItem('ttfmcurrentProjTitle', projTitle);
            

            window.location.href = window.location.origin + '/tests/post';
        });

    </script>